.is-checked::after {
	box-shadow: none;
	border: 1px solid var(--accent-8);
}

.is-checked {
	--checkbox-cards-item-background-color: var(--accent-a3);
}

#checkbox-group-violenceType .rt-CheckboxGroupItem {
	align-items: center;
	gap: var(--space-4);
	width: 100%;
}

#checkbox-group-violenceType .rt-CheckboxGroupItemInner {
	width: 100%;
}
